.grid-container {
    width: 100%;
    height: 100%;
    gap: 2vmin;
    padding: 2vmin;
    display: grid;
}

.grid-item {
    border-radius: 5vmin;
    background-color: var(--grid-item-bg-colour);
}
