:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --body-bg-colour: #ccc;

  --nav-bg-colour: #555;

  --nav-item-icon-colour: #888;
  --nav-item-selected-bg-colour: #444;
  --nav-item-selected-icon-colour: #ddd;

  --grid-item-bg-colour: #eee;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid yellow; */
}

body {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  background-color: var(--body-bg-colour);
}