.gridContainer {
	display: grid;
	grid-template-columns: 2fr 4fr 3fr;
	grid-template-rows: 2fr 2fr;
}

.goodsInventory {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}

.productionCapacity {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.partsInventory {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.machineStatus {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.partCosts {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
